<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{item.name}}</h4>
    <p class="card-text">{{item.description}}</p>
    <p>Priority: {{item.priority}}</p>
    <p>Status: {{item.status}}</p>
  </div>
  <div class="card-footer">
    <a href="/item/{{item.id}}/edit" class="btn btn-warning text-white">Edit</a>

    <form action="/item/{{item.id}}?_method=DELETE" method="post" class="d-inline">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </div>
</div>